@model MEDIplan.Models.Dosage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dosage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageInstruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageInstruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medication.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DosageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
