@model MEDIplan.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
